@import "tailwindcss";

/* In your index.css */
@keyframes moveClouds {
  from { transform: translateX(-10%); }
  to { transform: translateX(110%); }
}
.cloud-layer {
  animation: moveClouds 60s linear infinite;
  opacity: 0.3;
}

.date-picker-input {
  color-scheme: dark;
  position: relative;
}

.date-picker-input::-webkit-calendar-picker-indicator {
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 2.75rem;
  height: 100%;
  cursor: pointer;
}